---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/geo/1.0/zip?appid=<OPENWEATHERMAP_API_KEY>&country=US&zip=98101
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"98101","name":"Seattle","lat":47.6114,"lon":-122.3305,"country":"US"}'
  recorded_at: Fri, 11 Apr 2025 19:03:13 GMT
recorded_with: VCR 6.3.1
